<div id="<%= dom_id employee %>">
  <p>
    <strong>Employeeid:</strong>
    <%= employee.EmployeeId %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= employee.Login %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.Department %>
  </p>

  <p>
    <strong>Managerid:</strong>
    <%= employee.ManagerID %>
  </p>

  <p>
    <strong>Positionid:</strong>
    <%= employee.PositionID %>
  </p>

</div>
